div {
  padding: 5px 0;
}

button {
  height: 50px;
  width: 50px;
  font-size: 30px;
}

#roll-btn {
  width: 8em;
}

#reset-btn {
  width: 8em;
}

.die.unlocked {
  background-color: lightgreen;
}

.die.locked {
  background-color: red;
}

.score-btn {
  width: 8em;
}
